#pane1 {
    -fx-background-image: url("../images/background@2x.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

#single, #multi {
    -fx-background-image: url("../images/sliding_panel_paging_button@2x.png");
    -fx-background-size: 100% 100%;
    -fx-column-halignment: center;
    -fx-cell-size: 100% 100%;
    -fx-fill-height: 100%;
    -fx-fill-width: 100%;
    -fx-background-color: transparent;
    -fx-font-size: 17;
    -fx-font-family: Andalus;
}

#choose {
    -fx-font-family: Andalus;
    -fx-background-color: rgba(175, 255, 161, 0.47);
}

#back{
    -fx-background-image: url("../images/button_back_corner@2x.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
