#pane {
    -fx-background-image: url("../images/neutral_unit@2x.png"), url("../images/cardGifs/boss_crystal_breathing.gif"), url("../images/icon_mana.png");
    -fx-background-size: 95% 95%, 70% 50%, 20%, 20%; /*background,hero,mana_icon*/
    -fx-background-repeat: no-repeat;
    -fx-background-position: 100% 100%, 50% 0%, 0% 0%;
}