#pane {
     -fx-background-image: url("../images/neutral_unit@2x.png"), url("../images/icon_mana.png");
     -fx-background-size: 95% 90%, 20% 17%; /*background,mana_icon*/
     -fx-background-repeat: no-repeat;
     -fx-background-position: 100% 0%, 0% 0%;
 }