#backButton{
    -fx-background-image: url("../images/button_back_corner@2x.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.collectionButtons {
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-font-family: Papyrus;
    -fx-font-size: 12;
    -fx-text-fill: black;
    -fx-column-halignment: center;
    -fx-row-valignment: center;
    -fx-fit-to-width: inherit;
}