.button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: Papyrus;
    -fx-font-size: 18;
    -fx-text-fill: #ffffff;
    -fx-column-halignment: center;
    -fx-row-valignment: center;
    -fx-fit-to-width: inherit;
}

.button:hover {
    -fx-border-color: transparent, orange;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;

}

.button:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.backGround {
    -fx-background-image: url('../images/Untitled.jpg');
    -fx-background-size: 100% 100%;

}

.menuContainer {
    -fx-background-size: 30% 50%;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.menuLabels {
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-row-halignment: center;
}

.gridPane {

}